.wrapper_i_found {
    background-color: #FFFFFF;
    height: inherit;
}

.section_i_found {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    font-size: 12px;
    font-weight: 500;
    padding: 11px 13px 20px 13px;
   margin: 0 19px 0 19px;
}

.right_block_i_found label {
    text-align: right;
    margin: 0;
}

.type_i_found select, .sex_i_found select, .height_i_found select{
    border: none;
    outline: none;
}

.breed_i_found input,
.color_i_found input,
.input_i_found input,
.location_i_found input,
.type_i_found input,
.sex_i_found input,
.height_i_found input {
    border: none;
    border-bottom: 1px solid #90BDAC;
    outline: none;
    width: 206px;
    padding: 0;
    background-color: transparent;
}

.description_i_found_text {
    width: 206px;
    outline: none;
    resize: none;
    padding: 5px;
}

.select_i_found select {
    width: 80px;
}

.description_i_found span {
    font-size: 9px;
}

.select_i_found, .select_i_found, .select_i_found {
    padding-left: 10px;
}

.img_i_found {
    padding-bottom: 26px;
}

.background_block {
    background-color: transparent;
}

.footer_i_found {
    border-top: 1px solid #E1E1E1;
    margin-top: 30px;
}

.footer_i_found_top_block {
    padding-top: 15px;
}

.footer_i_found_input {
    width: 142px;
}

.footer_i_found_input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #90BDAC;
    outline: none;
    background-color: transparent;
}

.footer_i_found_block_label {
    width: 57px;
    text-align: right;
}

.footer_i_found_button_block {
    padding-top: 30px;
}

.i_found_button {
    width: 150px;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #84B6A3;
    background: transparent;
}

.i_found_button:hover {
    background-color: #84B6A3;
    transition: all 0.3s;
}

.i_found_add_icon, .i_found_text_button {
    color: #75B29A;
}

.i_found_button:hover .i_found_add_icon {
    color: #FFFFFF;
}

.i_found_button:hover .i_found_text_button {
    color: #FFFFFF;
}

.footer_i_found_input input[placeholder] {
    text-indent: 5px;
}

.user_name_i_found {
    color: #669885;
    font-weight: 700;
}

.button_dnd label {
    cursor: pointer;
}

.label_input_file_i_found input {
    display: none;
}

.label_input_file_i_found span {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.dnd_i_found {
    border-top: 1px solid #E1E1E1;;
    padding-top: 20px;
}

.i_found_header_paragraph {
    color: #669885;
    font-weight: 500;
}

.i_found_header_paragraph_span {
    color: #669885;
    font-weight: bold;
}

.name_img_i_found {
    font-size: 10px;
}

.so_more_text {
    margin-top: 5px;
    font-size: 15px;
    color: #7d0027;
    font-weight: 800;
}

    /*PREVIEW*/
.preview_block_i_found {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    margin: 32px 18px 29px 16px;
}

.third_block_i_found_preview {
    word-wrap: break-word;
}

.i_found_post_inform {
    width: 60%;
}

.i_found_img_post {
    width: 40%;
    max-width: 100%;
}

.i_found_img_post img {
    width: 100%;
}

.edit_i_found {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 105px;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #84B6A3;
    background: transparent;
}

.edit_i_found:hover {
    background-color: #84B6A3;
    transition: all 0.3s;
}

.edit_i_found:hover span {
    color: #FFFFFF;
}

.inform_end_i_found {
    margin: 0 28px;
    color: #84B6A3;
    font-weight: 600;
}

.button_preview {
    margin-right: 28px;
}

.button_preview button:last-child {
    margin-left: 11px;
}

.i_found_prof_photo {
    margin-right: 11px;
}

.border_i_found_block_end {
    border-top: 1px solid #BABABA;
    padding-top: 6px;
}

.marker_i_found {
    color: #84B6A3;
    padding-right: 10px;
}

.preview_and_publish_text {
    color: #669885;
    margin: 0 29px;
    padding-top: 30px;
}

.preview_and_publish_text span {
    font-weight: bold;
}

.input_i_found_type, .input_i_found_height {
    margin-left: 5px;
}

.remove_button_img_tags {
    background: transparent;
    border: none;
    color: #AB1A3B;
    transform: scale(1);
}

.remove_button_img_tags:hover {
 transform: scale(1.2);
}

.drag-area {
    width: 142px;
    border: 1px dashed #000000;
    height: 111px;
}

.drag {
    width: 142px;
    border: 1px solid #8DBFAC;
    height: 111px;
}

.preview_icon {
    color: #75B29A;
}

.preview_icon_span {
    font-size: 12px;
    font-weight: 400;
}

.icon_inform_preview {
    font-size: 18px;
    font-weight: 400;
    color: #BABABA;
    cursor: pointer;
}

.icon_inform_preview:hover {
    transition: all 0.4s;
    color: #7d0027;
}

.end_publish_text {
    font-size: 10px;
    font-weight: 400;
    color: #BABABA;
    text-align: right;
    margin-top: 35px;
    margin-right: 27px;
}