.profile_block_form {
    box-shadow: 0 3px 6px #00000029;
    margin-bottom: 32px;
}

.form_filling {
    padding: 27px 0 61px 13px ;
}

.photo_inform {
    position: relative;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-right: 40px;
}
.photo_inform img {
    height:inherit;
    border-radius: inherit;
    width: inherit;
}

.photo_inform input[type='file'] {
    display: none;
}

.photo_inform label {
    margin: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}


.camera_button_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: #ffd96a;
    border-radius: 50%;
    box-shadow: 0 3px 6px #00000029;
    position: absolute;
    right: 0;
    bottom: 0;
}

.camera_button {
    font-size: 10px;
    line-height: 12px;
    color: #84B6A3;
}

.block_img_name_profile p {
    font-weight: 600;
    color: #84B6A3;
    line-height: 19px;
}

.block_img_name_profile button {
    background: transparent;
    border: none;
    font-size: 10px;
}

.block_img_name_profile {
    margin-bottom: 23px;
}

.block_input input[placeholder] {
    font-size: 12px;
}

.profile_block_input input {
    width: 100%;
    background: transparent;
}

.profile_block_input {
    width: 50%;
}

.profile_button_block {
    text-align: end;
    margin-right: 28px;
}

.profile_button_block button{
    font-size: 12px;
    color:#84B6A3;
}


.icon_profile {
    font-size: 16px;
    line-height: 15px;
}