.inform_pets {
    background:#FFFFFF 0% 0% no-repeat;
}

.inform_pets_item {
    padding: 0;
    text-indent: -33px;
    margin-left: 33px;
}

.inform_pets h5 {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 48px;
    font-weight: 600;
    color: #669885;
}
.inform_pets_item li {
    list-style: none;
    line-height: 36px;
    font-size: 18px;
    color: #393939;
}

.inform_pets_item li:before {
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 18px;
    background-color: #84B6A3;

}
